<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @duck.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @duck.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @duck.color %>
</p>

<%= link_to 'Edit', edit_duck_path(@duck) %> |
<%= link_to 'Back', ducks_path %>
